
<h1>Welcome, Joooooolia Child! </h1>

<h3>Extraordinary Chefs Using Extraordinary Cookbook Apps</h3>


<ul class= 'users'>
  <% @users.each do |user| %>
  <li><%= link_to "#{user.name}", user %></li>
  <% end %>
</ul>

<br>

<p id='new_user'>
  <%= link_to 'I want to be an extraordinary chef!', new_user_path %>
</p>


