body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image:url('/dinner_table_large.jpg');
  background-size:100%;
  background-repeat:no-repeat;
  font-variant:small-caps;
}

h1, h3 {
  text-align:center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}
ul.users {
  width:100%;
  align:center;
  text-align: center;
  background-color:rgba(188,167,159,.8);
  padding: 0;
}

ul.users li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

ul.users li a {
color:#fff;
  
}


#new_user {
  text-align:center;
}

#new_user li {
  padding: 5px;
  list-style-type: none;
}

#new_user a{
  color:#ed4609;
  font-size: 20px;
  font-weight:bold;
}

