body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url('/dinner_table_large.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
}

h1, h3 {
  text-align: center;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

/*Navigation menu*/
.header {
  background: #4A4A4A;
}

.nav-links{
  margin: 0;
}

.home a {
  color: #D5D5D5;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 3px;
  float: left;
}

.header .nav {
  text-align: right;
}

ul li {
  position: relative;
  display: inline;
}

.nav ul li a {
  color: #D5D5D5;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 3px;
}

.nav ul li a :hover {
  color: black;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 5px;
  border-radius: 3px;
  background-color: #4A4A4A;
}

/*Users Page*/
ul.users {
  width: 100%;
  text-align: center;
  background-color: rgba(188,167,159,.8);
  padding: 0;
}

ul.users li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

ul.users li a {
color: #fff;
}

#new_user {
  text-align: center;
}

#new_user a{
  color: #ed4609;
  font-size: 20px;
  font-weight: bold;
}

/*Other Pages*/
.pages {
  text-align: center;
}

.pages ul li.ing_link {
  display: block;
}

.ing_link > form{
  display: inline-block;
}

table {
  margin: auto; 
  text-align: left;
}

