<!DOCTYPE html>
<html>
<head>
  <title>AdaCookbook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class= 'header'>
      <div class= 'home'><a href="/">Home</a>
      </div>

      <div class= 'nav'>
         <ul class= 'nav-links'>
            <li><a href="/cookbooks">Cookbooks</a></li>
            <li><a href="/recipes">Recipes</a></li>
         </ul>
      </div>
  </div>

  <div class= "pages">
    <%= yield %>
  </div>
</body>
</html>
